<html>
  <head>
    <center>
      <h2>Current Stock:<h2>
    </center>
  </head>
  <body>
    <ul>
      <% Shoe.all.each do |shoe| %>
        <li><b><%= shoe.id %></b> - <i><%= shoe.name %></i>, <b>Cost</b>: $<%= shoe.cost %>, <b>Color</b>: <%= shoe.color %>, <b>Category ID</b>: <%= shoe.category_id %>, <b>Location ID</b>: <%= shoe.location_id %>, <b>Quantity</b>: <%= shoe.location_stock %>
      <% end %>
    </ul>
    <p><h3>Product Actions</h3>
      <ul>
        <li><a href="/add_shoe">Add a new product to the inventory</a></li>
        <li><a href="/update_product">Update shoe information</a></li>
        <li><a href="/delete_shoe">Delete a shoe</a></li>
      </ul>
    </p>
  </body>
  <footer><center><button><a href="/home">Return to Home Page</a></button></center></footer>

</html>
